spring:
  docker:
    compose:
      enabled: false
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

app:
  admin:
    email: ${APP_ADMIN_EMAIL}
    username: ${APP_ADMIN_USERNAME}
    password: ${APP_ADMIN_PASSWORD}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

frontend-prod-url: ${FRONTEND_PROD_URL}
